.taskbar {
  position: absolute;
  top: 748px;
  left:0;
}

.container {
  width: 1024px;
  height: 768px;
  background-image: url('../img/felt.png');
  position:absolute;
  left:0;
  top:0;
}

.card {
  float: left;
  margin-right: 10px;
  position: relative;
}

.hand-container {
  position: absolute;
  left:280px;
}

.player-hand-container {
  top:300px;
}

.dealer-hand-container {
  top: 50px;
}

.deckCard {
  position: absolute;
  left: 750px;
}

.chip {
  position: absolute;
  left: 135px;
  height:25px;
  width:40px;
}

button {
  border:2px solid #AAA;
  background-color: transparent;
  color:#CCC;
  font-size: 24px;
  top: 500px;
  left: 250px;
  position:relative;
  margin: 0px 50px;
  cursor: pointer;
  outline: none;
  border-radius: 3px;
}

button.clickable:hover {
  border-color:white;
  color:white;
}