body {
  background-image: url('../img/greenbg.png');
}

.card {
  float: left;
  margin-right: 10px;
  position: relative;
}

.hand-container {
  position: absolute;
  left:180px;
}

.player-hand-container {
  top:300px;
}

.dealer-hand-container {
  top: 50px;
}

.deckCard {
  position: absolute;
  left: 650px;
}

button {
  border:2px solid #CCC;
  background-color: transparent;
  color:#CCC;
  font-size: 24px;
  top: 500px;
  left: 150px;
  position:relative;
  margin: 0px 50px;
  cursor: pointer;
  outline: none;
  border-radius: 3px;
}

button:hover {
  border-color:white;
  color:white;
}